In [24]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [33]:
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        soup = BeautifulSoup(file, 'lxml')
        title = soup.title.string.split('-')[0].strip()
        audience_score = soup.find("div", {"class": "meter-value"}).find('span').string[:-1]
        num_audience_ratings = soup.find('div', {'class': 'audience-info'}).findAll('div')[1].contents[2].strip()
        num_audience_ratings = num_audience_ratings.replace(',', '')
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [34]:
df.head()

,title,audience_score,number_of_audience_ratings
0,Zootopia (2016),92,98633
1,The Treasure of the Sierra Madre (1948),93,25627
2,All Quiet on the Western Front (1930),89,17768
3,Rear Window (1954),95,149458
4,Selma (2015),86,60533