# Data Wrangling Template

## Gather

In [10]:
import pandas as pd
import zipfile

In [4]:
with zipfile.ZipFile('armenian-online-job-postings.zip') as file:
    file.extractall()

In [12]:
df = pd.read_csv('online-job-postings.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15110 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9623 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

## Assess

## Clean

### Define

- Select all nondescriptive and misspelled column headers (ApplicationP, AboutC, RequiredQual, JobRequirment) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications, JobRequirements)
- Select all records in the StartDate column that have "As soon as possible", "Immediately", etc. and replace the text in those cells with "ASAP"

### Code

In [15]:
df_clean = df.copy()

In [16]:
# Task 1
df_clean = df_clean.rename(columns={'ApplicationP': 'ApplicationProcedure',
                                    'AboutC': 'AboutCompany',
                                    'RequiredQual': 'RequiredQualifications',
                                    'JobRequirment': 'JobRequirements'})

In [17]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

for value in asap_list:
    df_clean.StartDate.replace(value, 'ASAP', inplace=True)

### Test

In [25]:
df_clean.StartDate.value_counts()

ASAP                                                                                                                        6856
01 September 2012                                                                                                             31
March 2006                                                                                                                    27
November 2006                                                                                                                 22
January 2010                                                                                                                  19
February 2014                                                                                                                 17
01 February 2005                                                                                                              17
TBD                                                                                                                           16
September 2010                                                                                                                16
February 2011                                                                                                                 16
September 2008                                                                                                                15
March 2011                                                                                                                    15
01 February 2015                                                                                                              14
01 July 2014                                                                                                                  14
February 2007                                                                                                                 14
01 September 2010                                                                                                             13
01 March 2006                                                                                                                 13
January 2016                                                                                                                  13
01 September 2008                                                                                                             13
01 March 2012                                                                                                                 12
September 2013                                                                                                                12
01 April 2014                                                                                                                 12
01 October 2008                                                                                                               12
Fall 2010                                                                                                                     12
01 October 2012                                                                                                               12
June 2008                                                                                                                     12
February 2008                                                                                                                 11
01 November 2007                                                                                                              11
01 September 2013                                                                                                             11
01 September 2004                                                                                                             11
                                                                                                                            ...
20 September 2004                                                                                                              1
October                                                                                                                        1
11 July 2004                                                                                                                   1
01 March 2015 (preferably)                                                                                                     1
06 March 2006                                                                                                                  1
30 January 2006                                                                                                                1
16 May 2006                                                                                                                    1
Beginning of March 2006                                                                                                        1
08 July  2005, 10:00                                                                                                           1
February 28, 2011 or later                                                                                                     1
February  2007                                                                                                                 1
14 September 2015                                                                                                              1
19 February  2007                                                                                                              1
No later than 30 September 2013                                                                                                1
Fellowships will begin in August 2005 and will be\r\ncompleted within 10 months                                                1
Courses start on September 1, 2009.                                                                                            1
Mid January                                                                                                                    1
18 April 2005                                                                                                                  1
20 August 2009                                                                                                                 1
Mid May                                                                                                                        1
17 July 2006                                                                                                                   1
First contract will be concluded for up to 3 months,\r\nand then the successful candidate will be hired for longer term.       1
21 October 2004                                                                                                                1
30 July 2008                                                                                                                   1
20 October 2010                                                                                                                1
23 February 2015                                                                                                               1
20 July 2008                                                                                                                   1
17 June 2013                                                                                                                   1
July, 2004                                                                                                                     1
24 August 2008                                                                                                                 1
Name: StartDate, Length: 1140, dtype: int64

In [34]:
for phrase in asap_list:
    assert phrase not in df_clean.StartDate.values